<div class="text-layout">
    <h1>DecimalPipe y porcentaje basicos</h1>
    <p>Pipes incluidos en Angular - estan en el module de common modules.</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas netas" subheader="del presente año">
            {{ (netSales + 1000000) | number:'.4-4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas brutas" subheader="del presente año">
            {{ (netSales + 2000000) | currency:'USD':'symbol-narrow':'1.0-4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ percentage | percent:'2.2-2' }}
        </p-card>
    </div>
</div>